*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;

  font-family: var(--main-font);

  overflow: auto;

  color: var(--main-text-cl);
  background-color: var(--main-bg-cl);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
}

input {
  font-family: inherit;
  font-weight: 600;
}

select {
  font-family: inherit;
  font-weight: 600;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
