:root {
  // Fonts
  --main-font: "Mali", cursive;

  // Text colors
  --main-text-cl: #ffffff;
  --secondary-text-cl: #000000;

  // Background colors
  --main-bg-cl: #4a8396;
  --secondary-bg-cl: #052937;

  --main-accent-cl: #085475;
  --main-light-accent-cl: #0c5e81;

  --secondary-accent-cl: #a6cfd3;
  --secondary-light-accent-cl: #a6cccf;
  --secondary-dark-accent-cl: #98c3c7;

  // Transition
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 200ms;

  // Message
  --success-cl: #74b566;
  --info-cl: #76bedb;
  --warning-cl: #e6af5f;
  --error-cl: #c95c54;

  //Status
  --online-cl: greenyellow;
  --offline-cl: crimson;
}
